<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="OPTIONS, TRACE, GET, HEAD, POST" />
                <add name="Access-Control-Allow-Headers" value="Cache-Control, Pragma, Origin, Authorization, Content-Type, X-Requested-With, X-API-Key" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
